# Default ignores
#################
target/

# Intellij IDEA
###############
.idea/.name
.idea/encodings.xml
.idea/checkstyleidea-libs
.idea/checkstyle-idea.xml
.idea/codeStyles
.idea/inspectionProfiles
.idea/artifacts
.idea/copyright
.idea/libraries
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/uiDesigner.xml
*.iml

#Coverals
.coveralls.yml